.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

.item {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px -1px 5px #848080;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  width: 100%;
  object-fit: cover;
}

.icon {
  padding-top: 50px;
}
.page {
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 5px;
}
